.wave-divider {
  position: relative;
  height: 80px;
  background-color: white;
}

.quote-divider {
  background-color: #e0f2fe;
}

.gradient-divider {
  margin: 40px 0;
}



 @keyframes gradient {
          0% {
            background-position: 0% 50%;
          }
          50% {
            background-position: 100% 50%;
          }
          100% {
            background-position: 0% 50%;
          }
        }

        .animate-gradient {
          background-size: 200% 200%;
          animation: gradient 3s ease infinite;
        }